
!!!5

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }

  %head
    %title Logginator
    %link{ :href => '/results.css', :rel => 'stylesheet', :type => 'text/css' }

  %body
    #summaries
      .pagination
        %a{ :href => "/page/#{[1, @page - 1].max}" } previous

      %table{ :cellspacing => 0 }
        - @log_entries.each do |entry|
          %tr{ :class => "#{'selected' if entry['_id'] == @log_entry['_id']}" }
            %td.time
              %a{ :href => "/page/#{@page}/entry/#{entry['_id']}" }
                = entry['request_time'].strftime '%m-%d %H:%M:%S'
            %td.controller= entry['controller']
            %td.separator #
            %td.action= entry['action']

      .pagination
        %a{ :href => "/page/#{@page + 1}" } next

    #detail
      %h1 
        %span.time= @log_entry['request_time'].strftime '%Y-%m-%d %H:%M:%S'
        %span.action= "#{@log_entry['controller']}##{@log_entry['action']}"

      .request
        %span.endpoints= "#{@log_entry['ip']} -> #{@log_entry['url']}"
        %span.duration= "(#{@log_entry['runtime']}ms)"

      .params
        %h2 params
        = param_table @log_entry['params']

      - @log_entry['messages'].each do |key, messages|
        .messages
          %h2= key
          %ul
            - messages.each do |message|
              %li= message
