
!!!5

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }

  %head
    %title Logginator
    %link{ :href => '/results.css', :rel => 'stylesheet', :type => 'text/css' }

  %body
    #search
      %form{ :action => '/', :method => 'get' }
        %fieldset.params
          %legend Params
          .field
            %input{ :type => 'text', :name => 'q[param][][key]' }
            \ =~
            %input{ :type => 'text', :name => 'q[param][][value]' }
        .field
          %label{ :for => 'action' } Action:
          %input{ :type => 'text', :name => 'q[action]', :id => 'action' }
          %label{ :for => 'controller' } Controller:
          %input{ :type => 'text', :name => 'q[controller]', :id => 'controller' }
        .field
          %label{ :for => 'from' } From:
          %input{ :type => 'text', :name => 'q[from]', :id => 'from' }
          %label{ :for => 'to' } To:
          %input{ :type => 'text', :name => 'q[to]', :id => 'to' }
        .submit
          %input{ :type => 'submit', :value => 'Update Results' }

    #summaries
      .pagination
        %a{ :href => "/page/#{[1, @page - 1].max}" } previous

      %table{ :cellspacing => 0 }
        - @log_entries.each do |entry|
          %tr{ :class => "#{'selected' if entry['_id'] == @log_entry['_id']}" }
            %td.time
              %a{ :href => "/page/#{@page}/entry/#{entry['_id']}" }
                = entry['request_time'].strftime '%m-%d %H:%M:%S'
            %td.controller
              %a{ :href => "/page/#{@page}/entry/#{entry['_id']}" }
                = entry['controller']
            %td.separator 
              %a{ :href => "/page/#{@page}/entry/#{entry['_id']}" }
                \ #
            %td.action
              %a{ :href => "/page/#{@page}/entry/#{entry['_id']}" }
                = entry['action']

      .pagination
        %a{ :href => "/page/#{@page + 1}" } next

    #detail
      %h1 
        %span.time= @log_entry['request_time'].strftime '%Y-%m-%d %H:%M:%S'
        %span.action= "#{@log_entry['controller']}##{@log_entry['action']}"

      .request
        %span.endpoints= "#{@log_entry['ip']} -> #{@log_entry['url']}"
        %span.duration= "(#{@log_entry['runtime']}ms)"

      .params
        %h2 params
        = param_table @log_entry['params']

      - @log_entry['messages'].each do |key, messages|
        .messages
          %h2= key
          %ul
            - messages.each do |message|
              %li= message
